{% include 'menu.html' %}

{% block title %}<h3>Покупатели</h3>{% endblock %}

{% block pagename %}

{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
<html lang="en">
<head>
 <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, usersvalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
          <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
        {% for buyer in Buyers %}
        <p>{{ buyer.name }}  | Баланс: {{ buyer.balance }}</p>
        {% endfor %}
</body>
</html>
{% endblock %}